# Mid_Bootcamp_project
<font size='4'><span style="color: green">Cristian Valeria</span></font>

## Topic: Crimes in Berlin: a disctrict analysis
<br>

## Questions:

What ?
1. What discrtict of Berlin is most dangerous?
2. What type of crimes are the most common

Why? <span style='color:green'>(Bonus)</span> 
1. How crimes correlate with other variables, like: 
    - employment status
    - inmigration
    - other cities
    
## Outputs:
- Group by: Crimes, types of crime (value each tipe of crime and make a danger factor) 
- Ilustrated map with the diferent district in colors by danger level and other comparisons. 
- Correlation between danger level and other variables (bonus)

## Dataset:

https://www.berlin.de/polizei/service/kriminalitaetsatlas/

### 1. Import Libraries

In [2]:
import pandas as pd
import numpy as np

### 2.Reading Exploring and Cleaning Data

In [11]:
#!ls ../Data/cleaned

crimesdata_clean.xlsx

In [12]:
crimesdata = pd.read_excel('../Data/cleaned/crimesdata_clean.xlsx')
crimesdata.head()

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,52,33,482,171,99,1953,16,269,112,68,15,224,23,122,851
1,2012,Mitte,11002,Regierungsviertel,58,25,439,124,129,2975,9,256,147,37,12,327,118,83,799
2,2012,Mitte,11003,Alexanderplatz,194,101,1411,446,259,8297,70,650,732,274,74,1359,480,356,2799
3,2012,Mitte,11004,Brunnenstraße Süd,50,25,241,62,62,1873,85,176,387,131,19,449,153,191,724
4,2012,Mitte,12005,Moabit West,123,45,610,188,190,2396,90,376,321,161,61,495,59,245,1357

In [13]:
crimesdata.shape

(1550, 19)

In [18]:
crimesdata = crimesdata.drop(columns=['Zipcode','Location'])

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic
0,2012,Charlottenburg Nord,643,248,4224,1195,1427,24061,707,3770,3173,1544,178,3975,847,1064,9997
1,2012,Friedrichshain-Kreuzberg,868,504,4613,1383,1153,22050,436,2380,3285,1214,419,5499,1311,1853,11001
2,2012,Lichtenberg,260,112,2570,586,789,11911,445,1979,1418,632,254,3355,896,335,6252
3,2012,Marzahn-Hellersdorf,331,148,3052,625,929,9714,451,1778,1075,457,319,3435,800,308,6202
4,2012,Mitte,1253,610,7921,2362,2242,36486,620,4317,3358,1695,494,6180,1346,2849,16545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2021,Reinickendorf,216,113,2472,606,1204,8371,204,1629,908,293,239,2370,342,713,5762
116,2021,Spandau,204,113,2575,605,1285,9324,283,2057,708,337,310,2409,261,659,6177
117,2021,Steglitz-Zehlendorf,154,79,1889,395,944,9340,352,1578,1431,562,208,2721,658,527,5142
118,2021,Tempelhof-Schöneberg,270,141,2886,632,1342,14891,434,2685,2031,395,238,3497,782,1264,8162
119,2021,Treptow-Köpenick,165,95,2271,518,1102,10565,340,1518,2086,367,218,2913,670,643,5608

In [29]:
crimesdata['Total_crimes'] = crimesdata.iloc[:,2:].sum(axis=1)

In [30]:
crimesdata.head()

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes
0,2012,Mitte,52,33,482,171,99,1953,16,269,112,68,15,224,23,122,851,4490
1,2012,Mitte,58,25,439,124,129,2975,9,256,147,37,12,327,118,83,799,5538
2,2012,Mitte,194,101,1411,446,259,8297,70,650,732,274,74,1359,480,356,2799,17502
3,2012,Mitte,50,25,241,62,62,1873,85,176,387,131,19,449,153,191,724,4628
4,2012,Mitte,123,45,610,188,190,2396,90,376,321,161,61,495,59,245,1357,6717

In [32]:
crimes_district = crimesdata.groupby(['Year','District']).sum().reset_index()

In [33]:
crimes_district.head()

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes
0,2012,Charlottenburg Nord,643,248,4224,1195,1427,24061,707,3770,3173,1544,178,3975,847,1064,9997,57053
1,2012,Friedrichshain-Kreuzberg,868,504,4613,1383,1153,22050,436,2380,3285,1214,419,5499,1311,1853,11001,57969
2,2012,Lichtenberg,260,112,2570,586,789,11911,445,1979,1418,632,254,3355,896,335,6252,31794
3,2012,Marzahn-Hellersdorf,331,148,3052,625,929,9714,451,1778,1075,457,319,3435,800,308,6202,29624
4,2012,Mitte,1253,610,7921,2362,2242,36486,620,4317,3358,1695,494,6180,1346,2849,16545,88278

In [34]:
!pwd

/Users/cristianvaleria/Ironhack/Week_5/Mid_bootcamp_project/Notebooks

In [35]:
#crimes_district.to_excel('../Data/cleaned/crimes_district.xlsx', index = False)

In [5]:
crimesdata_hz = pd.read_excel('../Data/cleaned/crimesberlin_hz_clean.xlsx')
crimesdata_hz.head()

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,405,257,3755,1332,771,15214,125,2096,872,530,116,1745,179,950,6629
1,2012,Mitte,11002,Regierungsviertel,629,271,4758,1344,1398,32246,98,2775,1593,401,130,3544,1279,900,8660
2,2012,Mitte,11003,Alexanderplatz,407,212,2963,937,544,17423,147,1365,1537,575,156,2854,1008,748,5878
3,2012,Mitte,11004,Brunnenstraße Süd,192,96,925,238,238,7190,326,676,1486,503,73,1724,587,733,2779
4,2012,Mitte,12005,Moabit West,292,107,1447,446,451,5685,214,892,762,382,145,1174,140,581,3220

In [6]:
crimesdata_hz['Total_crimes'] = crimesdata_hz.iloc[:,4:].sum(axis=1)

In [9]:
crimesdata_hz = crimesdata_hz.drop(columns=['Zipcode','Location'])

In [10]:
crimesdata_hz.head()

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes
0,2012,Mitte,405,257,3755,1332,771,15214,125,2096,872,530,116,1745,179,950,6629,34976
1,2012,Mitte,629,271,4758,1344,1398,32246,98,2775,1593,401,130,3544,1279,900,8660,60026
2,2012,Mitte,407,212,2963,937,544,17423,147,1365,1537,575,156,2854,1008,748,5878,36754
3,2012,Mitte,192,96,925,238,238,7190,326,676,1486,503,73,1724,587,733,2779,17766
4,2012,Mitte,292,107,1447,446,451,5685,214,892,762,382,145,1174,140,581,3220,15938

In [11]:
crimes_district_hz = crimesdata_hz.groupby(['Year','District']).sum().reset_index()

In [12]:
crimes_district_hz.head()

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes
0,2012,Charlottenburg Nord,1915,718,12360,3637,4412,71947,2285,12258,9190,5486,618,11855,2415,3409,30326,172831
1,2012,Friedrichshain-Kreuzberg,2324,1325,12706,3862,3154,62118,1251,6083,8968,3336,1190,14580,3084,4676,30055,158712
2,2012,Lichtenberg,1241,451,11643,2768,3677,60511,1986,10397,7762,3224,1740,16134,4401,1658,28420,156013
3,2012,Marzahn-Hellersdorf,1028,463,9759,2026,3072,31632,1374,5605,3895,1753,1007,11313,2700,976,20247,96850
4,2012,Mitte,3468,1614,23647,7230,6675,117557,1682,12989,9897,4919,1296,17676,4174,7623,48431,268878

In [13]:
# crimes_district_hz.to_excel('../Data/cleaned/crimes_district_hz.xlsx', index = False)

In [15]:
crimes_2021 = crimes_district_hz[crimes_district_hz['Year']==2021]

In [16]:
crimes_2021.head()

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes
108,2021,Charlottenburg Nord,986,585,10688,2606,5274,57488,1832,13642,8214,2436,1170,12999,2985,4698,30092,155695
109,2021,Friedrichshain-Kreuzberg,2086,1327,11769,3997,3845,60376,555,9595,9184,906,1438,14310,2897,14583,30097,166965
110,2021,Lichtenberg,869,510,12464,2722,4915,47304,1771,8060,6875,1135,1420,15597,3434,3304,28973,139353
111,2021,Marzahn-Hellersdorf,717,515,8284,1742,3760,25079,1019,4761,2742,780,708,9041,1570,1565,18716,80999
112,2021,Mitte,1879,1110,17779,5228,6835,74272,842,9264,10254,1317,1126,16146,3556,9826,42958,202392

In [18]:
crimes_2021.shape

(12, 18)

In [20]:
crimes_2021 = crimes_2021.rename(columns={"Total_crimes": "Total_crimes_Hz"})

In [23]:
crimes_2021 = crimes_2021[['Year','District','Total_crimes_Hz']]

In [24]:
crimes_2021

     Year                  District  Total_crimes_Hz
108  2021       Charlottenburg Nord           155695
109  2021  Friedrichshain-Kreuzberg           166965
110  2021               Lichtenberg           139353
111  2021       Marzahn-Hellersdorf            80999
112  2021                     Mitte           202392
113  2021                  Neukölln           168834
114  2021                    Pankow           169894
115  2021             Reinickendorf           114033
116  2021                   Spandau            94899
117  2021       Steglitz-Zehlendorf            69608
118  2021      Tempelhof-Schöneberg           164592
119  2021          Treptow-Köpenick           199448

In [27]:
def district_id (x):
    if x['District'] == 'Mitte':
        return 1
    elif x['District'] == 'Friedrichshain-Kreuzberg':
        return 2
    elif x['District'] == 'Pankow':
        return 3
    elif x['District'] == 'Charlottenburg Nord':
        return 4
    elif x['District'] == 'Spandau':
        return 5
    elif x['District'] == 'Steglitz-Zehlendorf':
        return 6
    elif x['District'] == 'Tempelhof-Schöneberg':
        return 7
    elif x['District'] == 'Neukölln':
        return 8
    elif x['District'] == 'Treptow-Köpenick':
        return 9
    elif x['District'] == 'Marzahn-Hellersdorf':
        return 10
    elif x['District'] == 'Lichtenberg':
        return 11
    elif x['District'] == 'Reinickendorf':
        return 12

In [29]:
crimes_2021['district_id'] =  crimes_2021.apply(district_id, axis=1)

/var/folders/2b/6f80d7g11sl53b_wrqy2w81r0000gn/T/ipykernel_3304/1354772222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crimes_2021['district_id'] =  crimes_2021.apply(district_id, axis=1)

In [30]:
crimes_2021.head()

     Year                  District  Total_crimes_Hz  district_id
108  2021       Charlottenburg Nord           155695            4
109  2021  Friedrichshain-Kreuzberg           166965            2
110  2021               Lichtenberg           139353           11
111  2021       Marzahn-Hellersdorf            80999           10
112  2021                     Mitte           202392            1

In [34]:
crimes_district = pd.read_excel('../Data/cleaned/crimes_district.xlsx')
crimes_district.head()

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes
0,2012,Charlottenburg Nord,643,248,4224,1195,1427,24061,707,3770,3173,1544,178,3975,847,1064,9997,57053
1,2012,Friedrichshain-Kreuzberg,868,504,4613,1383,1153,22050,436,2380,3285,1214,419,5499,1311,1853,11001,57969
2,2012,Lichtenberg,260,112,2570,586,789,11911,445,1979,1418,632,254,3355,896,335,6252,31794
3,2012,Marzahn-Hellersdorf,331,148,3052,625,929,9714,451,1778,1075,457,319,3435,800,308,6202,29624
4,2012,Mitte,1253,610,7921,2362,2242,36486,620,4317,3358,1695,494,6180,1346,2849,16545,88278

In [36]:
crimes_district = crimes_district[crimes_district['Year']==2021]

In [37]:
crimes_district['district_id'] =  crimes_district.apply(district_id, axis=1)

In [38]:
crimes_district.head()

,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes,district_id
108,2021,Charlottenburg Nord,347,201,3501,865,1715,19545,548,4376,2869,676,338,4084,905,1407,9821,51198,4
109,2021,Friedrichshain-Kreuzberg,714,450,4162,1397,1403,21574,223,3443,3320,310,497,5205,1081,4771,10751,59301,2
110,2021,Lichtenberg,223,139,2857,655,1159,10750,415,1932,1500,262,325,3331,721,707,6579,31555,11
111,2021,Marzahn-Hellersdorf,233,169,2672,570,1186,8283,344,1611,816,237,222,2865,470,488,6035,26201,10
112,2021,Mitte,750,448,6730,2033,2578,27017,344,3636,3637,500,462,5968,1282,3823,15795,75003,1

In [39]:
crimes_district.columns

Index(['Year', 'District', 'Robbery', 'Street_robbery', 'Body_injuries',
       'Agg_assoult', 'Threat', 'Theft', 'Vehicle', 'From_car', 'Bike',
       'Housebreaking', 'Fire', 'Damage_property', 'Graffiti', 'Drugs',
       'Domestic ', 'Total_crimes', 'district_id'],
      dtype='object')

In [43]:
crimes_district = crimes_district[[ 'district_id','Year', 'District', 'Robbery', 'Street_robbery', 'Body_injuries',
       'Agg_assoult', 'Threat', 'Theft', 'Vehicle', 'From_car', 'Bike',
       'Housebreaking', 'Fire', 'Damage_property', 'Graffiti', 'Drugs',
       'Domestic ', 'Total_crimes']]

In [45]:
crimes_district.sort_values(by='district_id', ascending=True)

,district_id,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes
112,1,2021,Mitte,750,448,6730,2033,2578,27017,344,3636,3637,500,462,5968,1282,3823,15795,75003
109,2,2021,Friedrichshain-Kreuzberg,714,450,4162,1397,1403,21574,223,3443,3320,310,497,5205,1081,4771,10751,59301
114,3,2021,Pankow,336,220,3102,839,1323,17419,347,2227,3871,549,343,4350,1241,921,8353,45441
108,4,2021,Charlottenburg Nord,347,201,3501,865,1715,19545,548,4376,2869,676,338,4084,905,1407,9821,51198
116,5,2021,Spandau,204,113,2575,605,1285,9324,283,2057,708,337,310,2409,261,659,6177,27307
117,6,2021,Steglitz-Zehlendorf,154,79,1889,395,944,9340,352,1578,1431,562,208,2721,658,527,5142,25980
118,7,2021,Tempelhof-Schöneberg,270,141,2886,632,1342,14891,434,2685,2031,395,238,3497,782,1264,8162,39650
113,8,2021,Neukölln,395,215,3748,1160,1619,17205,418,4471,2010,487,398,3995,529,2146,9658,48454
119,9,2021,Treptow-Köpenick,165,95,2271,518,1102,10565,340,1518,2086,367,218,2913,670,643,5608,29079
111,10,2021,Marzahn-Hellersdorf,233,169,2672,570,1186,8283,344,1611,816,237,222,2865,470,488,6035,26201
110,11,2021,Lichtenberg,223,139,2857,655,1159,10750,415,1932,1500,262,325,3331,721,707,6579,31555
115,12,2021,Reinickendorf,216,113,2472,606,1204,8371,204,1629,908,293,239,2370,342,713,5762,25442

In [46]:
crimes_district.merge(crimes_2021, how='right', on='district_id')

,district_id,Year_x,District_x,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,...,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes,Year_y,District_y,Total_crimes_Hz
0,4,2021,Charlottenburg Nord,347,201,3501,865,1715,19545,548,...,676,338,4084,905,1407,9821,51198,2021,Charlottenburg Nord,155695
1,2,2021,Friedrichshain-Kreuzberg,714,450,4162,1397,1403,21574,223,...,310,497,5205,1081,4771,10751,59301,2021,Friedrichshain-Kreuzberg,166965
2,11,2021,Lichtenberg,223,139,2857,655,1159,10750,415,...,262,325,3331,721,707,6579,31555,2021,Lichtenberg,139353
3,10,2021,Marzahn-Hellersdorf,233,169,2672,570,1186,8283,344,...,237,222,2865,470,488,6035,26201,2021,Marzahn-Hellersdorf,80999
4,1,2021,Mitte,750,448,6730,2033,2578,27017,344,...,500,462,5968,1282,3823,15795,75003,2021,Mitte,202392
5,8,2021,Neukölln,395,215,3748,1160,1619,17205,418,...,487,398,3995,529,2146,9658,48454,2021,Neukölln,168834
6,3,2021,Pankow,336,220,3102,839,1323,17419,347,...,549,343,4350,1241,921,8353,45441,2021,Pankow,169894
7,12,2021,Reinickendorf,216,113,2472,606,1204,8371,204,...,293,239,2370,342,713,5762,25442,2021,Reinickendorf,114033
8,5,2021,Spandau,204,113,2575,605,1285,9324,283,...,337,310,2409,261,659,6177,27307,2021,Spandau,94899
9,6,2021,Steglitz-Zehlendorf,154,79,1889,395,944,9340,352,...,562,208,2721,658,527,5142,25980,2021,Steglitz-Zehlendorf,69608
10,7,2021,Tempelhof-Schöneberg,270,141,2886,632,1342,14891,434,...,395,238,3497,782,1264,8162,39650,2021,Tempelhof-Schöneberg,164592
11,9,2021,Treptow-Köpenick,165,95,2271,518,1102,10565,340,...,367,218,2913,670,643,5608,29079,2021,Treptow-Köpenick,199448

In [48]:
crimes_2021 = crimes_2021.sort_values(by='district_id', ascending=True)

In [50]:
crimes_2021

     Year                  District  Total_crimes_Hz  district_id
112  2021                     Mitte           202392            1
109  2021  Friedrichshain-Kreuzberg           166965            2
114  2021                    Pankow           169894            3
108  2021       Charlottenburg Nord           155695            4
116  2021                   Spandau            94899            5
117  2021       Steglitz-Zehlendorf            69608            6
118  2021      Tempelhof-Schöneberg           164592            7
113  2021                  Neukölln           168834            8
119  2021          Treptow-Köpenick           199448            9
111  2021       Marzahn-Hellersdorf            80999           10
110  2021               Lichtenberg           139353           11
115  2021             Reinickendorf           114033           12

In [49]:
crimes_2021[['Total_crimes_Hz']]

     Total_crimes_Hz
112           202392
109           166965
114           169894
108           155695
116            94899
117            69608
118           164592
113           168834
119           199448
111            80999
110           139353
115           114033

In [53]:
crimes_2021 = pd.concat([crimes_district, crimes_2021[['Total_crimes_Hz']]], axis=1).sort_values(by='district_id', ascending=True)

In [54]:
crimes_2021.head()

,district_id,Year,District,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic,Total_crimes,Total_crimes_Hz
112,1,2021,Mitte,750,448,6730,2033,2578,27017,344,3636,3637,500,462,5968,1282,3823,15795,75003,202392
109,2,2021,Friedrichshain-Kreuzberg,714,450,4162,1397,1403,21574,223,3443,3320,310,497,5205,1081,4771,10751,59301,166965
114,3,2021,Pankow,336,220,3102,839,1323,17419,347,2227,3871,549,343,4350,1241,921,8353,45441,169894
108,4,2021,Charlottenburg Nord,347,201,3501,865,1715,19545,548,4376,2869,676,338,4084,905,1407,9821,51198,155695
116,5,2021,Spandau,204,113,2575,605,1285,9324,283,2057,708,337,310,2409,261,659,6177,27307,94899

In [56]:
crimes_2021 = crimes_2021.reset_index(drop=True)

In [63]:
#!ls ../Data/Raw/WHY_CORRELATIONS

Demography_Berlin_2021.xlsx
Employment-regionaldaten-2019-erwerbstaetige.xlsx
Population status_Regionaldaten_2021_Berlin-Brandenburg (1).xlsx
Registrations of foreign regional data 2021 Berlin-Brandenburg.xlsx
To_and_from_Regionaldaten_2021_Berlin-Brandenburg.xlsx
green_areas_Stadtleben_Kleingaerten.xlsx
schools-regionaldaten-2020.xlsx
~$Demography_Berlin_2021.xlsx

In [64]:
demography = pd.read_excel('../Data/Raw/WHY_CORRELATIONS/Demography_Berlin_2021.xlsx')

In [66]:
demography

,district_id,District,Population,Employed,Unemployed,Inactive,Density,Foreign_population,Foreign_proportion
0,1,01 Mitte,375483,207808,13263,154411,9587,129541.635,34.5
1,2,02 Friedrichshain-Kreuzberg,275392,163522,10139,101731,13758,73805.056,26.8
2,3,03 Pankow,395050,230045,5151,159854,3922,60047.600,15.2
3,4,04 Charlottenburg-Wilmersdorf,317132,166627,6289,144216,4904,65646.324,20.7
4,5,05 Spandau,237416,110043,6695,120678,2618,50094.776,21.1
5,6,06 Steglitz-Zehlendorf,289590,138726,4456,146408,2850,35909.160,12.4
6,7,07 Tempelhof-Schöneberg,340256,173252,10949,156055,6452,67710.944,19.9
7,8,08 Neukölln,317952,149762,16523,151667,7127,82667.520,26.0
8,9,09 Treptow-Köpenick,265484,148391,5707,111385,1629,28141.304,10.6
9,10,10 Marzahn-Hellersdorf,255783,126721,7831,121231,4446,35553.837,13.9
10,11,11 Lichtenberg,278860,145114,8914,124833,5624,50752.520,18.2
11,12,12 Reinickendorf,255661,108044,8323,139294,2917,49342.573,19.3

In [68]:
demography.iloc[:,2:]

,Population,Employed,Unemployed,Inactive,Density,Foreign_population,Foreign_proportion
0,375483,207808,13263,154411,9587,129541.635,34.5
1,275392,163522,10139,101731,13758,73805.056,26.8
2,395050,230045,5151,159854,3922,60047.600,15.2
3,317132,166627,6289,144216,4904,65646.324,20.7
4,237416,110043,6695,120678,2618,50094.776,21.1
5,289590,138726,4456,146408,2850,35909.160,12.4
6,340256,173252,10949,156055,6452,67710.944,19.9
7,317952,149762,16523,151667,7127,82667.520,26.0
8,265484,148391,5707,111385,1629,28141.304,10.6
9,255783,126721,7831,121231,4446,35553.837,13.9
10,278860,145114,8914,124833,5624,50752.520,18.2
11,255661,108044,8323,139294,2917,49342.573,19.3

In [71]:
crimes_2021 = pd.concat([crimes_2021,demography.iloc[:,2:]], axis=1)

In [72]:
#crimes_2021.to_excel('../Data/cleaned/crimes_2021.xlsx', index = False)