# Mid_Bootcamp_project
<font size='4'><span style="color: green">Cristian Valeria</span></font>

## Topic: Crimes in Berlin: a disctrict analysis
<br>

## Questions:

What ?
1. What discrtict of Berlin is most dangerous?
2. What type of crimes are the most common

Why? <span style='color:green'>(Bonus)</span> 
1. How crimes correlate with other variables, like: 
    - employment status
    - inmigration
    - other cities

## Outputs:
- Group by: Crimes, types of crime (value each tipe of crime and make a danger factor) 
- Ilustrated map with the diferent district in colors by danger level and other comparisons. 
- Correlation between danger level and other variables (bonus)

### 1. Import Libraries

In [4]:
import pandas as pd
import numpy as np

### 2.Reading Exploring and Cleaning Data

2.1. Reading Raw Data

In [24]:
crimesdata = pd.read_csv('../Data/Raw/WHAT/Berlin_crimes.csv')
crimesdata.head()

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403

2.2. Searching for null values

In [20]:
crimesdata.isnull().sum()

Year              0
District          0
Code              0
Location          0
Robbery           0
Street_robbery    0
Injury            0
Agg_assault       0
Threat            0
Theft             0
Car               0
From_car          0
Bike              0
Burglary          0
Fire              0
Arson             0
Damage            0
Graffiti          0
Drugs             0
Local             0
dtype: int64

2.2. Columns Exploration

In [25]:
crimesdata.shape

(1200, 20)

In [21]:
crimesdata.columns

Index(['Year', 'District', 'Code', 'Location', 'Robbery', 'Street_robbery',
       'Injury', 'Agg_assault', 'Threat', 'Theft', 'Car', 'From_car', 'Bike',
       'Burglary', 'Fire', 'Arson', 'Damage', 'Graffiti', 'Drugs', 'Local'],
      dtype='object')

#### column: 'Year'

In [45]:
display(crimesdata.Year.value_counts())
print('Total Unique: ', crimesdata.Year.nunique())

2012    150
2013    150
2014    150
2015    150
2016    150
2017    150
2018    150
2019    150
Name: Year, dtype: int64

Total Unique:  8

In [46]:
# Year --> 150 rows per year between 2012 and 2019, 8 years

#### column: 'District'

In [37]:
display(crimesdata.District.value_counts())
print('Total Unique: ', crimesdata.District.nunique())

Treptow-Köpenick              168
Charlottenburg-Wilmersdorf    144
Pankow                        136
Lichtenberg                   112
Reinickendorf                  96
Mitte                          88
Neukölln                       88
Spandau                        80
Marzahn-Hellersdorf            80
Friedrichshain-Kreuzberg       72
Steglitz-Zehlendorf            72
Tempelhof-Schöneberg           64
Name: District, dtype: int64

Total Unique:  12

In [39]:
# 12 of 12 Berlin districs

#### column: 'Code'

In [40]:
display(crimesdata.Code.value_counts())
print('Total Unique: ', crimesdata.Code.nunique())

10111     8
90102     8
90104     8
90205     8
90206     8
         ..
40514     8
40515     8
40516     8
40617     8
129900    8
Name: Code, Length: 150, dtype: int64

Total Unique:  150

In [42]:
# Zipcode --> not relevant for this study

#### column: 'Location'

In [43]:
display(crimesdata.Location.value_counts())
print('Total Unique: ', crimesdata.Location.nunique())

Tiergarten Süd                   8
Plänterwald                      8
Johannisthal                     8
Oberschöneweide                  8
Niederschöneweide                8
                                ..
Düsseldorfer Straße              8
Barstraße                        8
Volkspark Wilmersdorf            8
Forst Grunewald                  8
Bezirk (Rd), nicht zuzuordnen    8
Name: Location, Length: 150, dtype: int64

Total Unique:  150

In [47]:
# Especific location of the Crime, related to Zipcode --> Not relevant to the study

#### 'Crime' Columns

In [52]:
crimesdata.shape[1]-4

16

In [53]:
#16 types of crime, from robbery to property Property damage caused by graffiti

In [61]:
crimesdata[(crimesdata['District']=='Mitte') & (crimesdata['Year']==2012)]

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403
5,2012,Mitte,10222,Moabit Ost,89,45,549,147,204,2290,63,353,337,90,33,10,392,52,416,1212
6,2012,Mitte,10331,Osloer Straße,120,46,785,223,267,3666,52,429,280,226,40,18,521,72,246,1699
7,2012,Mitte,10332,Brunnenstraße Nord,145,71,675,192,191,2928,76,473,218,252,36,7,495,72,162,1532
8,2012,Mitte,10441,Parkviertel,109,48,783,211,318,2879,77,564,365,157,55,20,568,65,244,1794
9,2012,Mitte,10442,Wedding Zentrum,216,104,1210,426,384,3396,57,424,294,298,54,23,806,87,570,2556
10,2012,Mitte,19900,"Bezirk (Mi), nicht zuzuordnen",15,9,435,147,49,2487,6,45,31,0,5,0,263,140,35,587

## Found the official data :)

In [65]:
#!ls ../Data/Raw/WHAT

Berlin_crimes.csv             Bike_crimes
Berlin_crimes_official.xlsx   ~$Berlin_crimes_official.xlsx

In [83]:
crimesdata_of = pd.read_excel('../Data/Raw/WHAT/Berlin_crimes_official.xlsx')
crimesdata_of.head()

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Arson,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,52,33,482,171,99,1953,16,269,112,68,12,3,224,23,122,851
1,2012,Mitte,11002,Regierungsviertel,58,25,439,124,129,2975,9,256,147,37,8,4,327,118,83,799
2,2012,Mitte,11003,Alexanderplatz,194,101,1411,446,259,8297,70,650,732,274,47,27,1359,480,356,2799
3,2012,Mitte,11004,Brunnenstraße Süd,50,25,241,62,62,1873,85,176,387,131,14,5,449,153,191,724
4,2012,Mitte,12005,Moabit West,123,45,610,188,190,2396,90,376,321,161,39,22,495,59,245,1357

In [85]:
crimesdata_of.isnull().sum()

Year                0
District           90
Zipcode             0
Location            0
Robbery             0
Street_robbery      0
Body_injuries       0
Agg_assoult         0
Threat              0
Theft               0
Vehicle             0
From_car            0
Bike                0
Housebreaking       0
Fire                0
Arson               0
Damage_property     0
Graffiti            0
Drugs               0
Domestic            0
dtype: int64

In [86]:
crimesdata_of = crimesdata_of.dropna()

In [87]:
crimesdata_of.isnull().sum()

Year               0
District           0
Zipcode            0
Location           0
Robbery            0
Street_robbery     0
Body_injuries      0
Agg_assoult        0
Threat             0
Theft              0
Vehicle            0
From_car           0
Bike               0
Housebreaking      0
Fire               0
Arson              0
Damage_property    0
Graffiti           0
Drugs              0
Domestic           0
dtype: int64

In [88]:
crimesdata_of.shape

(1550, 20)

'Fire' and 'Arson' ar supper similar, will concatenate in just one column named 'Fire'

In [89]:
crimesdata_of['Fire'] = crimesdata_of['Fire'] + crimesdata_of['Arson']

In [91]:
crimesdata_of.head()

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Arson,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,52,33,482,171,99,1953,16,269,112,68,15,3,224,23,122,851
1,2012,Mitte,11002,Regierungsviertel,58,25,439,124,129,2975,9,256,147,37,12,4,327,118,83,799
2,2012,Mitte,11003,Alexanderplatz,194,101,1411,446,259,8297,70,650,732,274,74,27,1359,480,356,2799
3,2012,Mitte,11004,Brunnenstraße Süd,50,25,241,62,62,1873,85,176,387,131,19,5,449,153,191,724
4,2012,Mitte,12005,Moabit West,123,45,610,188,190,2396,90,376,321,161,61,22,495,59,245,1357

In [93]:
crimesdata_of = crimesdata_of.drop(columns=['Arson'])
crimesdata_of.head(2)

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,52,33,482,171,99,1953,16,269,112,68,15,224,23,122,851
1,2012,Mitte,11002,Regierungsviertel,58,25,439,124,129,2975,9,256,147,37,12,327,118,83,799

In [95]:
crimesdata_of.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1550 entries, 0 to 1639
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1550 non-null   int64
 1   District         1550 non-null   object
 2   Zipcode          1550 non-null   int64
 3   Location         1550 non-null   object
 4   Robbery          1550 non-null   int64
 5   Street_robbery   1550 non-null   object
 6   Body_injuries    1550 non-null   int64
 7   Agg_assoult      1550 non-null   int64
 8   Threat           1550 non-null   int64
 9   Theft            1550 non-null   int64
 10  Vehicle          1550 non-null   int64
 11  From_car         1550 non-null   int64
 12  Bike             1550 non-null   int64
 13  Housebreaking    1550 non-null   int64
 14  Fire             1550 non-null   int64
 15  Damage_property  1550 non-null   int64
 16  Graffiti         1550 non-null   int64
 17  Drugs            1550 non-null   int64
 18  Domestic         1550 non-null   int64
dtypes: int64(16), object(3)
memory usage: 242.2+ KB

In [100]:
crimesdata_of.Street_robbery.dtype

dtype('O')

In [104]:
crimesdata_of.Street_robbery.unique()

array([33, 25, 101, 45, 36, 44, 62, 43, 91, 105, 64, 65, 55, 76, 30, 15,
       89, 5, 4, 2, 0, 1, 8, 10, 9, 13, 14, 26, 11, 6, 12, 7, 22, 34, 71,
       3, 47, 19, 27, 17, 18, 16, 49, 78, 53, 42, 50, 31, 24, 35, 21, 48,
       110, 59, 'Eso', 69, 147, 68, 75, 155, 111, 28, 40, 20, 86, 73, 58,
       54, 23, 46, 104, 32, 52, 81, 57, 77, 136, 103, 80, 41, 29, 39, 90,
       37, 63, 109, 85, 100, 67, 79, 117, 56, 74, 94, 70, 87, 38, 61, 51,
       82, 84, 66, 142, 60, 95, 93, 124], dtype=object)

In [105]:
crimesdata[(crimesdata['District']=='Mitte') & (crimesdata['Year']==2013)]

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
150,2013,Mitte,10111,Tiergarten Süd,88,60,522,148,124,2652,17,392,149,62,14,3,263,28,114,974
151,2013,Mitte,10112,Regierungsviertel,53,25,480,120,128,3862,23,337,254,33,5,1,355,130,67,862
152,2013,Mitte,10113,Alexanderplatz,237,149,1442,354,333,10165,85,760,926,281,47,20,1301,448,590,3029
153,2013,Mitte,10114,Brunnenstraße Süd,41,14,226,51,68,2503,101,244,358,137,8,3,366,134,92,1003
154,2013,Mitte,10221,Moabit West,94,47,597,156,231,2441,76,463,336,139,47,12,532,88,209,1342
155,2013,Mitte,10222,Moabit Ost,76,37,496,122,181,2536,82,446,353,128,35,16,418,59,362,1188
156,2013,Mitte,10331,Osloer Straße,125,64,814,210,253,3540,26,378,279,166,28,8,441,55,366,1674
157,2013,Mitte,10332,Brunnenstraße Nord,126,58,667,164,200,3248,102,521,269,196,36,13,454,84,299,1597
158,2013,Mitte,10441,Parkviertel,87,38,712,206,269,2924,74,566,290,154,32,16,541,81,236,1722
159,2013,Mitte,10442,Wedding Zentrum,160,76,1156,341,382,3307,48,603,319,201,70,25,822,127,526,2388
160,2013,Mitte,19900,"Bezirk (Mi), nicht zuzuordnen",9,5,403,94,64,2136,4,43,14,0,6,4,251,158,3,521

In [106]:
# value is 58

In [110]:
def eso(x):
    if x == 'Eso':
        return 58
    else:
        return x

crimesdata_of.Street_robbery = crimesdata_of.Street_robbery.apply(eso)

In [111]:
crimesdata_of.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1550 entries, 0 to 1639
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1550 non-null   int64
 1   District         1550 non-null   object
 2   Zipcode          1550 non-null   int64
 3   Location         1550 non-null   object
 4   Robbery          1550 non-null   int64
 5   Street_robbery   1550 non-null   int64
 6   Body_injuries    1550 non-null   int64
 7   Agg_assoult      1550 non-null   int64
 8   Threat           1550 non-null   int64
 9   Theft            1550 non-null   int64
 10  Vehicle          1550 non-null   int64
 11  From_car         1550 non-null   int64
 12  Bike             1550 non-null   int64
 13  Housebreaking    1550 non-null   int64
 14  Fire             1550 non-null   int64
 15  Damage_property  1550 non-null   int64
 16  Graffiti         1550 non-null   int64
 17  Drugs            1550 non-null   int64
 18  Domestic         1550 non-null   int64
dtypes: int64(17), object(2)
memory usage: 242.2+ KB

In [112]:
# crimesdata_of.to_excel('crimesdata_of_clean.xlsx', index = False)

## Worl Index Crime Data

In [2]:
#!ls ../Data/Raw/WHAT

Berlin_crimes.csv                      world_crime_index_data.csv
Berlin_crimes_official.xlsx            ~$Berlin_crimes_official.xlsx
Bike_crimes                            ~$Oficial_Fallzahlen&HZ 2012-2021.xlsx
Oficial_Fallzahlen&HZ 2012-2021.xlsx

In [6]:
worlcrimeindex = pd.read_csv('../Data/Raw/WHAT/world_crime_index_data2023.csv')
worlcrimeindex.head()

,place,pop2023,growthRate,area,country,cca3,cca2,ccn3,region,subregion,landAreaKm,density,densityMi,Rank,crimeIndex,rank
0,862,28838499.0,0.01897,916445,Venezuela,VEN,VE,862,South America,"South America, Latin America",882050.0,32.6949,84.6797,52,83.76,1
1,598,10329931.0,0.01847,462840,Papua New Guinea,PNG,PG,598,Oceania,Melanesia,452860.0,22.8104,59.0790,92,80.79,2
2,710,60414495.0,0.00869,1221037,South Africa,ZAF,ZA,710,Africa,"Southern Africa, Sub-Saharan Africa",1213090.0,49.8022,128.9876,24,76.86,3
3,4,42239854.0,0.02702,652230,Afghanistan,AFG,AF,4,Asia,"South Central Asia, Southern Asia",652230.0,64.7622,167.7341,36,76.31,4
4,340,10593798.0,0.01543,112492,Honduras,HND,HN,340,North America,"Central America, Latin America",111890.0,94.6805,245.2224,88,74.54,5

In [7]:
# Dont know if i will use it

## Berlin Crimes HZ (population factor) Cleaning

In [8]:
#ls ../Data/Raw/WHAT

Berlin_crimes.csv                       world_crime_index_data2023.csv
Berlin_crimes_official.xlsx             ~$Berlin_crimes_official.xlsx
Berlin_crimes_official_HZ.xlsx          ~$Berlin_crimes_official_HZ.xlsx
Bike_crimes/                            ~$Oficial_Fallzahlen&HZ 2012-2021.xlsx
Oficial_Fallzahlen&HZ 2012-2021.xlsx

In [9]:
crimesberlin_hz = pd.read_excel('../Data/Raw/WHAT/Berlin_crimes_official_HZ.xlsx')
crimesberlin_hz.head()

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,405,257,3755,1332,771,15214,125,2096,872,530,116.0,1745,179,950,6629
1,2012,Mitte,11002,Regierungsviertel,629,271,4758,1344,1398,32246,98,2775,1593,401,130.0,3544,1279,900,8660
2,2012,Mitte,11003,Alexanderplatz,407,212,2963,937,544,17423,147,1365,1537,575,156.0,2854,1008,748,5878
3,2012,Mitte,11004,Brunnenstraße Süd,192,96,925,238,238,7190,326,676,1486,503,73.0,1724,587,733,2779
4,2012,Mitte,12005,Moabit West,292,107,1447,446,451,5685,214,892,762,382,145.0,1174,140,581,3220

In [10]:
crimesberlin_hz.isnull().sum()

Year                 0
District           110
Zipcode              0
Location             0
Robbery              0
Street_robbery       0
Body_injuries        0
Agg_assoult          0
Threat               0
Theft                0
Vehicle              0
From_car             0
Bike                 0
Housebreaking        0
Fire               120
Damage_property      0
Graffiti             0
Drugs                0
Domestic             0
dtype: int64

In [11]:
crimesberlin_hz = crimesberlin_hz.dropna()

In [12]:
crimesberlin_hz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1430 entries, 0 to 1658
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1430 non-null   int64
 1   District         1430 non-null   object
 2   Zipcode          1430 non-null   int64
 3   Location         1430 non-null   object
 4   Robbery          1430 non-null   object
 5   Street_robbery   1430 non-null   object
 6   Body_injuries    1430 non-null   object
 7   Agg_assoult      1430 non-null   object
 8   Threat           1430 non-null   object
 9   Theft            1430 non-null   object
 10  Vehicle          1430 non-null   object
 11  From_car         1430 non-null   object
 12  Bike             1430 non-null   object
 13  Housebreaking    1430 non-null   object
 14  Fire             1430 non-null   float64
 15  Damage_property  1430 non-null   object
 16  Graffiti         1430 non-null   object
 17  Drugs            1430 non-null   object
 18  Domestic         1430 non-null   object
dtypes: float64(1), int64(2), object(16)
memory usage: 223.4+ KB

In [13]:
crimesberlin_hz.Robbery.unique()

array([405, 629, 407, 192, 292, 221, 328, 371, 245, 378, 354, 229, 446,
       372, 297, 117, 264, 114, 43, 47, 11, 49, 88, 59, 90, 132, 200, 111,
       102, 215, 69, 45, 213, 126, 144, 158, 207, 235, 55, 53, 130, 422,
       172, 70, 99, 150, 187, 227, 28, 269, 101, 82, 34, 64, 35, 87, 573,
       163, 116, 51, 110, 135, 142, 178, 104, 54, 75, 511, 356, 234, 267,
       147, 148, 83, 165, 77, 79, 380, 93, 67, 167, 81, 17, 0, 9, 27, 15,
       52, 42, 41, 149, 143, 190, 128, 78, 107, 26, 24, 80, 100, 89, 66,
       194, 84, 156, 151, 30, 223, 179, 181, 209, 33, 94, 122, 557, 472,
       382, 120, 205, 203, 329, 327, 198, 277, 304, 478, 689, 307, 230,
       58, 18, 21, 76, 46, 73, 176, 109, 134, 177, 249, 133, 342, 61, 127,
       254, 138, 16, 287, 98, 74, 91, 62, 667, 237, 171, 121, 154, 44,
       414, 331, 278, 157, 252, 124, 71, 341, 92, 115, 123, 36, 25, 22,
       139, 162, 119, 96, 95, 97, 159, 217, 13, 145, 164, 291, 527, 507,
       401, 175, 299, 298, 206, 530, 642, 57, 12, 56, 152, 137, 129, 397,
       86, 284, 193, 31, 60, 19, 50, 484, 211, 103, 39, 218, 244, 153,
       189, 389, 108, 23, 68, 48, 199, 233, 184, 219, 571, 752, 305, 257,
       232, 259, 335, 656, 615, 523, 395, 37, 231, 362, 125, 282, 118, 38,
       485, 141, 72, 280, 238, 262, 65, 460, 29, 105, 113, 63, 160, 32,
       112, 170, 447, 844, 228, 220, 204, 499, 560, 440, 6, 191, 195, 347,
       106, 136, 85, 20, 512, 155, 182, 40, 146, 173, 236, 185, 424, 302,
       212, 392, 210, 226, 166, 4, 470, 272, 197, 253, 140, 384, 330, 180,
       350, 246, 196, 349, 294, 261, 300, 403, 324, 161, 131, 7, 320, 275,
       348, 339, 496, 188, 169, 14, 255, 183, 225, 614, 10], dtype=object)

In [20]:
crimesberlin_hz[crimesberlin_hz.District == 'Mitte'].head(11)

,Year,District,Zipcode,Location,Robbery,Street_robbery,Body_injuries,Agg_assoult,Threat,Theft,Vehicle,From_car,Bike,Housebreaking,Fire,Damage_property,Graffiti,Drugs,Domestic
0,2012,Mitte,11001,Tiergarten Süd,405,257,3755,1332,771,15214,125,2096,872,530,116.0,1745,179,950,6629
1,2012,Mitte,11002,Regierungsviertel,629,271,4758,1344,1398,32246,98,2775,1593,401,130.0,3544,1279,900,8660
2,2012,Mitte,11003,Alexanderplatz,407,212,2963,937,544,17423,147,1365,1537,575,156.0,2854,1008,748,5878
3,2012,Mitte,11004,Brunnenstraße Süd,192,96,925,238,238,7190,326,676,1486,503,73.0,1724,587,733,2779
4,2012,Mitte,12005,Moabit West,292,107,1447,446,451,5685,214,892,762,382,145.0,1174,140,581,3220
5,2012,Mitte,12006,Moabit Ost,221,102,1863,495,588,8916,164,902,908,254,121.0,1176,204,1100,3752
6,2012,Mitte,13007,Osloer Straße,328,123,2170,634,737,10316,146,1167,760,634,157.0,1453,233,653,4694
7,2012,Mitte,13008,Brunnenstraße Nord,371,174,1800,520,531,7999,188,1220,585,709,110.0,1347,247,416,4114
8,2012,Mitte,14009,Parkviertel,245,102,1799,502,733,6433,171,1169,854,374,154.0,1245,138,540,4117
9,2012,Mitte,14010,Wedding Zentrum,378,170,2167,782,684,6135,103,727,540,557,134.0,1414,159,1002,4588
166,2013,Mitte,11001,Tiergarten Süd,557,366,3522,1106,801,17399,99,2501,984,473,129.0,1677,152,732,6511

In [23]:
crimesberlin_hz['Robbery'] = crimesberlin_hz['Robbery'].astype(int)

In [24]:
crimesberlin_hz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1430 entries, 0 to 1658
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1430 non-null   int64
 1   District         1430 non-null   object
 2   Zipcode          1430 non-null   int64
 3   Location         1430 non-null   object
 4   Robbery          1430 non-null   int64
 5   Street_robbery   1430 non-null   object
 6   Body_injuries    1430 non-null   object
 7   Agg_assoult      1430 non-null   object
 8   Threat           1430 non-null   object
 9   Theft            1430 non-null   object
 10  Vehicle          1430 non-null   object
 11  From_car         1430 non-null   object
 12  Bike             1430 non-null   object
 13  Housebreaking    1430 non-null   object
 14  Fire             1430 non-null   float64
 15  Damage_property  1430 non-null   object
 16  Graffiti         1430 non-null   object
 17  Drugs            1430 non-null   object
 18  Domestic         1430 non-null   object
dtypes: float64(1), int64(3), object(15)
memory usage: 223.4+ KB

In [26]:
crimesberlin_hz['Street_robbery'] = crimesberlin_hz['Street_robbery'].astype(int)
crimesberlin_hz['Body_injuries'] = crimesberlin_hz['Body_injuries'].astype(int)
crimesberlin_hz['Agg_assoult'] = crimesberlin_hz['Agg_assoult'].astype(int)
crimesberlin_hz['Threat'] = crimesberlin_hz['Threat'].astype(int)
crimesberlin_hz['Theft'] = crimesberlin_hz['Theft'].astype(int)
crimesberlin_hz['Vehicle'] = crimesberlin_hz['Vehicle'].astype(int)
crimesberlin_hz['From_car'] = crimesberlin_hz['From_car'].astype(int)
crimesberlin_hz['Bike'] = crimesberlin_hz['Bike'].astype(int)
crimesberlin_hz['Housebreaking'] = crimesberlin_hz['Housebreaking'].astype(int)
crimesberlin_hz['Fire'] = crimesberlin_hz['Fire'].astype(int)
crimesberlin_hz['Damage_property'] = crimesberlin_hz['Damage_property'].astype(int)
crimesberlin_hz['Graffiti'] = crimesberlin_hz['Graffiti'].astype(int)
crimesberlin_hz['Drugs'] = crimesberlin_hz['Drugs'].astype(int)
#crimesberlin_hz['Domestic'] = crimesberlin_hz['Domestic'].astype(int)

crimesberlin_hz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1430 entries, 0 to 1658
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1430 non-null   int64
 1   District         1430 non-null   object
 2   Zipcode          1430 non-null   int64
 3   Location         1430 non-null   object
 4   Robbery          1430 non-null   int64
 5   Street_robbery   1430 non-null   int64
 6   Body_injuries    1430 non-null   int64
 7   Agg_assoult      1430 non-null   int64
 8   Threat           1430 non-null   int64
 9   Theft            1430 non-null   int64
 10  Vehicle          1430 non-null   int64
 11  From_car         1430 non-null   int64
 12  Bike             1430 non-null   int64
 13  Housebreaking    1430 non-null   int64
 14  Fire             1430 non-null   int64
 15  Damage_property  1430 non-null   int64
 16  Graffiti         1430 non-null   int64
 17  Drugs            1430 non-null   int64
 18  Domestic         1430 non-null   object
dtypes: int64(16), object(3)
memory usage: 223.4+ KB

In [31]:
crimesberlin_hz.columns
#crimesberlin_hz['Domestic'].unique()

Index(['Year', 'District', 'Zipcode', 'Location', 'Robbery', 'Street_robbery',
       'Body_injuries', 'Agg_assoult', 'Threat', 'Theft', 'Vehicle',
       'From_car', 'Bike', 'Housebreaking', 'Fire', 'Damage_property',
       'Graffiti', 'Drugs', 'Domestic '],
      dtype='object')

In [34]:
crimesberlin_hz = crimesberlin_hz.rename(columns={"Domestic ": "Domestic"})

In [35]:
crimesberlin_hz.columns

Index(['Year', 'District', 'Zipcode', 'Location', 'Robbery', 'Street_robbery',
       'Body_injuries', 'Agg_assoult', 'Threat', 'Theft', 'Vehicle',
       'From_car', 'Bike', 'Housebreaking', 'Fire', 'Damage_property',
       'Graffiti', 'Drugs', 'Domestic'],
      dtype='object')

In [36]:
crimesberlin_hz['Domestic'] = crimesberlin_hz['Domestic'].astype(int)

In [37]:
crimesberlin_hz.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1430 entries, 0 to 1658
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1430 non-null   int64
 1   District         1430 non-null   object
 2   Zipcode          1430 non-null   int64
 3   Location         1430 non-null   object
 4   Robbery          1430 non-null   int64
 5   Street_robbery   1430 non-null   int64
 6   Body_injuries    1430 non-null   int64
 7   Agg_assoult      1430 non-null   int64
 8   Threat           1430 non-null   int64
 9   Theft            1430 non-null   int64
 10  Vehicle          1430 non-null   int64
 11  From_car         1430 non-null   int64
 12  Bike             1430 non-null   int64
 13  Housebreaking    1430 non-null   int64
 14  Fire             1430 non-null   int64
 15  Damage_property  1430 non-null   int64
 16  Graffiti         1430 non-null   int64
 17  Drugs            1430 non-null   int64
 18  Domestic         1430 non-null   int64
dtypes: int64(17), object(2)
memory usage: 223.4+ KB

In [43]:
crimesberlin_hz.to_excel('../Data/Cleaned/crimesberlin_hz_clean.xlsx', index = False)